client/.next
client/node_modules
client/out
client/next-env.d.ts
client/.env.development
client/package-lock.json
server/**/*.pyc
server/.venv
server/.env
server/openapi.json
server/poetry.lock
container-mount
dockerfiles
.devcontainer
.vscode
docker-compose.yml
.gitignore
.git
